<%= render "categories/header" %>

<div class="task-container">
<div class="task-form-container">
<div class="task-form">

<span class="category-form-title">EDIT TASK</span>
<hr/>
<%= render 'tasks/form', task: @task %>

</div>
</div>
</div>