<%= render "categories/header" %>

<div class="task-container">
<div class="task-form-container">
<div class="task-form">

<span class="category-form-title">ADD NEW TASK</span>
<hr/>
<%= render 'tasks/form' %>

</div>
</div>
</div>