<div class="tasks-container">
<div class="task-list-container">
<div><span class="task-header">NOT COMPLETED</span><br/></div>

<% @tasks.each do |task| %>
  <% if !task.completed? %>
  <%= render "tasklist", task:task %>
  <% end %>
<% end %>
</div>
</div>

<div class="tasks-container">
<div class="task-list-container">
<div><span class="task-header">COMPLETED</span><br/></div>
<% @tasks.each do |task| %>
  <% if task.completed? %>
   <%= render "tasklist", task:task %>
  <% end %>
<% end %>
</div>
</div>