<%= render "header" %>

<div class="category-list-container">
<div class="category-form-container">
<div class="category-form">

<span class="category-form-title">EDIT CATEGORY DETAILS</span>
<hr/>
<%= render "form", article: @article %>

</div>
</div>
</div>  