<%= render "header" %>

<div class="category-list-container">
<div class="category-form-container">
<div class="category-form">

<span class="category-form-title">NEW CATEGORY</span>
<hr/>
<%= render "form", category: @category %>

</div>
</div>
</div>